[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
[submodule "meta-rust"]
	path = meta-rust
	url = git@github.com:jmesmon/meta-rust
[submodule "meta-oe"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
